.App {
  text-align: center;
  display: flex;
  align-items: center;
}

html{
  overflow: hidden;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stats-container{
  background-color: #ccd2ef;
  width: 20vw;
  height: 20vh;
  margin: auto;
}

.App-messanger{
  width: 50vw;
  margin: 0 auto;
}
.chat-container {
  background-color: #ccd2ef;
  overflow: auto;
  padding-bottom: 2vh;
  min-height: 20vh;
  max-height: 45vh;
}

.bubble-container{
  max-width: 500px;
}


.messagesDisplay {
  margin: 15px;
  margin-bottom: 5px;
  background-color: #73b1e8;
  text-align: left;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  overflow-wrap: break-word;
  font-size: 20px;
}

.user {
  display: flex;
  justify-content: flex-start;
}

.computer {
  display:flex;
  justify-content: flex-end;
}

.computer .messagesDisplay {
  background-color: #989bf5;
}

.date {
  font-size: 10px;
  text-align: right;
  padding-right: 20px;

  
}

.full-date{
  font-size: 15px;
  margin-top: 10px;
}


/*CSS for messagebox component*/
.message-container {
  /*height: 10vh;
  position: fixed;
  bottom: 0;
  */
}

.message-container input {
  width: 100%;
  padding-left: 10px;
  font-size: 35px;
  box-sizing: border-box;
  margin-bottom: 10vh;
}

